/*.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
.sprite-arrow_next {
    width: 20px;
    height: 14px;
    background-position: -5px -5px;
}
.sprite-arrow_next_blue {
    width: 20px;
    height: 14px;
    background-position: -35px -5px;
}
.sprite-blockquote {
    width: 81px;
    height: 66px;
    background-position: -5px -29px;
}
.sprite-facebook-blue {
    width: 26px;
    height: 26px;
    background-position: -96px -5px;
}
.sprite-facebook-yelow {
    width: 26px;
    height: 26px;
    background-position: -96px -41px;
}
.sprite-instagram-blue {
    width: 26px;
    height: 26px;
    background-position: -96px -77px;
}
.sprite-instagram-yellow {
    width: 26px;
    height: 26px;
    background-position: -132px -5px;
}
.sprite-vk-blue {
    width: 26px;
    height: 26px;
    background-position: -132px -41px;
}
.sprite-vk-yellow {
    width: 26px;
    height: 26px;
    background-position: -132px -77px;
}*/


/*Промо блок
Картинка кладется задним фоном.

Стилизация
Комментариями обозначены (начало крупных модулей/блоков разметки).

Изображения
Для названий не используются пробелы, кириллица, транслит, верхний регистр. По названию изображения понятно из какого оно блока.
Выбран подходящий формат изображений JPEG / PNG.
Все изображения содержит заполненный атрибут alt.

ВСЁ О ЖИВОТНЫХ Фон сделан с использованием свойства background repeat

Общие технические требования
Стандарты вёрстки: HTML5, CSS3, валидный код.
Используемые шрифты: Fira Sans и Roboto (есть на http://google.com/fonts).*/

@font-face
{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;

    src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face
{
    font-family: 'Fira Sans';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Fira Sans';
    font-weight: 500;
    font-style: normal;

    src: url('../fonts/Fira_Sans/FiraSans-Medium.ttf') format('truetype');
}
/*Common styles*/
body
{
    background-color: #ede9e0;
}

.wrapper
{
    width: 1024px;
    margin: 0 auto;
}

.container
{
    overflow: hidden;

    width: 940px;
    margin: 0 auto;
}

/*Header*/


.logo
{
    display: inline-block;
    float: left;

    margin-top: 10px;

    text-decoration: none;
}

.main-nav__item
{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    line-height: 30px;

    display: inline-block;

    padding-right: 24px;
}

.main-nav__item a
{
    line-height: 30px;

    text-decoration: none;

    color: #202020;
}

.main-nav
{
    display: inline-block;

    margin: 15px 0;
}

.contact
{
    font-family: Roboto, sans-serif;
    font-size: 16px;

    display: inline-block;

    text-decoration: none;

    color: #510fad;
}

.right
{
    float: right;
}
/*main*/
/*promo-section*/

.promo-title
{
    font-family: Fira Sans, sans-serif;
    font-size: 48px;
    font-weight: bold;

    margin-top: 105px;
    margin-bottom: 45px;
}

.promo-slogan
{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: bold;

    margin-left: 316px;
    padding-left: 12px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #727173;
    border-left: 2px solid #510fad;
}

.promo__info
{
    line-height: normal;

    width: 840px;
}
.promo-photo
{
    float: left;
}
/*about_cattery-section*/

.about
{
    padding-top: 180px;
    padding-bottom: 200px;

    background: #510fad;
}

.about__head
{
    margin-bottom: 70px;
    padding-right: 265px;
    padding-left: 323px;
}

.about__row
{
    clear: both;

    content: ''
    display: block;
}
.advantages__item
{
    font-family: Roboto, sans-serif;
    font-size: 16px;

    color: white;
}
.about__img
{
    float: left;
    overflow: hidden;

    width: 460px;

    border-right: 10px;
    box-shadow: -10px 0 50px 0 rgba();
}
.about__img img
{
    display: block;

    width: 100%;
}

h2
{
    font-family: Fira Sans, sans-serif;
    font-size: 36px;
    font-style: normal;

    text-align: center;
}

.description 
{
    font-family: Roboto, sans-serif;
    font-size: 16px;

    color: #b8adc8;

}







/*dog-types-section*/
.dog-type__img
{
    float: left;
    padding-right: 0px;

    border-radius: 100%;
}

.dog-types__wrap
{
    overflow: hidden;
    padding-left: 0px;
}

.dog-types__item
{
    float: left;

    box-sizing: border-box;
    width: 49%;
    

    list-style-type: none;
}
.look
{
    font-family: Fira Sans, sans-serif;
    font-size: 14px;
    font-weight: bold;

    text-decoration: none;
    text-transform: uppercase;

    color: #510fad;
    clear: both;
    padding-left: 20px;
}
h3
{
    font-family: Fira Sans, sans-serif;
    font-size: 24px;
     clear: left;
     vertical-align: top;
     margin-bottom: 17px;


}

p
{
    font-family: Roboto, sans-serif;
    font-size: 16px;

    color: #737274;
    line-height: 30px;
    padding-left: 160px;  
}

/*reviews-section*/





/*blog-section*/

/*contacts-section*/

/*footer*/
/**/
