/*--------------------------Подключение шрифтов--------------------------*/
@font-face {
    font-family: 'PT Sans';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/PT_Sans/PT_Sans-Web-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/PT_Sans/PT_Sans-Web-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Prata';
    font-weight: 500;
    font-style: normal;

    src: url('../fonts/Prata/Prata-Regular.ttf') format('truetype');
}

/*--------------------------COMMON STYLE--------------------------*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.button {
    font-family: PT Sans, serif;
    font-size: 16px;

    display: block;

    max-width: 288px;
    margin: 0 auto;
    padding: 25px 78px;

    text-align: center;
    text-transform: uppercase;

    color: white;
    background-color: #eec643;
}

.form {
    display: none;
}

/*------------------------GRID---------------------------*/
.container {
    width: 100%;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;

    margin-right: -15px;
    margin-left: -15px;

    flex-wrap: wrap;
}

.col {
    width: 100% ;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        margin: 0 auto;
    }

    .row {
        display: flex;

        margin-right: -15px;
        margin-left: -15px;

        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .col {
        padding: 0;
    }

    .col--3 {
        width: 25%;
        padding-right: 15px;
        padding-left: 15px;
        max-width: 279px;
    }

    .col--5 {
        width: 41.666%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col--6 {
        width: 50%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .offset {
        margin-left: 8.333%;
    }
}

/*--------------------------PAGE-HEADER--------------------------*/
.page-header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding-top: 25px;
}

.page-header__row {
    display: flex;

    justify-content: space-between;
}

.page-header__nav {
    display: none;

    box-sizing: border-box;
}

/*--------------------------LOGO------------------------------*/
.logo {
    font-size: 30px;
    font-family: Prata, serif;
    
    z-index: 10;

    color: #eec643;
}

/*--------------------------MAIN-NAV--------------------------*/
.main-nav {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding-top: 75px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;

    color: #fff;
    background-color: #000;
}

.main-nav--open {
    display: block;
}

.main-nav__list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-nav__link {
    font-family: RT Sans, sans-serif;
    font-size: 16px;

    display: block;

    padding: 15px 0;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
}

/*--------------------------BURGER--------------------------*/
.burger {
    position: relative;
    z-index: 10;

    background-color: transparent;
}

.cross:after {
    font-size: 69px;

    position: absolute;
    top: 0;
    right: 0;
    right: 15px;

    display: block;

    width: 40px;

    content: '×';

    color: #fff;
}

.burger:after {
    font-size: 30px;

    position: absolute;
    right: 0;
    bottom: 5px;

    display: block;

    width: 40px;

    content: '| | |';

    color: #fff;
}

/*--------------------------PROMO--------------------------*/
.promo {
    min-height: 536px;
    padding-top: 140px;
    padding-bottom: 35px;

    color: white;
    background-image: url(../img/promo-header--mobile.jpg);
    background-position: center;
    background-size: cover;
}

.promo__title {
    font-family: Prata, serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 42px;
}

.promo__slogan {
    font-family: PT Sans, serif;
    font-size: 16px;
    line-height: 22px;

    min-width: 195px;
    height: 133px;
}

.promo__title--desktop {
    display: none;
}

.promo__slogan--desktop {
    display: none;
}

/*--------------------------DIRECTIONS--------------------------*/
.directions__article {
    box-sizing: border-box;
    margin: 0 15px; /*из-за него не работал offset*/

    color: #fff;
    background-size: cover;
    min-height: 144px;
    margin-bottom: 15px;
}

.directions__title {
    font-family: Prata, serif;
    font-size: 30px;
    font-weight: normal;

    border-top: 1px solid #eec643;
    border-bottom: 1px solid #eec643;
    margin-bottom: 10px;
}

.article__title {
    font-family: PT Sans, sans-serif;
    font-weight: bold;
}

.article__text {
    font-family: PT Sans, sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.article__text--desktop {
    display: none;
}

.article__price {
    display: none;
}

.article__title--all {
    font-size: 16px;
    font-weight: normal;

    text-transform: uppercase;
}

.directions__article--guitar {
    background-image: url(../img/directions_card_img_1-mobile.jpg);
    background-repeat: no-repeat;
}

.directions__article--vocal {
    background-image: url(../img/directions_card_img_2-mobile.jpg);
    background-repeat: no-repeat;
}

.directions__article--pianist {
    background-image: url(../img/directions_card_img_3-mobile.jpg);
    background-repeat: no-repeat;
}

.directions__article--lectures {
    display: none;
}

.directions__article--all {
    /*position: absolute;*/

    transform: rotate(-90deg);

    color: #000;

   /* bottom: 0;
    right: 0;*/

    background-color: #eec643;
}

.row {
    position: relative;
}

/*--------------------------ADVANTAGES--------------------------*/
.advantages__title
{
    font-family: Prata, serif;
    font-size: 30px;
    font-weight: normal;

    border-top: 1px solid #eec643;
    border-bottom: 1px solid #eec643;
}

.advantages__article
{
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 5px;

    color: #fff;
}

.advantages__article--structure
{
    background-image: url(../img/advantages_card_img_1-mobile.jpg);
    background-repeat: no-repeat;
}

.advantages__article--result
{
    background-image: url(../img/advantages_card_img_2-mobile.jpg);
}

.advantages__article--studio
{
    background-image: url(../img/advantages_card_img_3-mobile.jpg);
}

.advantages__button
{
    font-family: PT Sans, serif;
    font-size: 16px;

    padding: 25px 78px;

    transform: rotate(-90deg);
    text-align: center;
    text-transform: uppercase;

    color: white;
    background-color: #eec643;
}

/*--------------------------VIDEO-------------------------*/
.video__title
{
    font-family: Prata, serif;
    font-size: 30px;
    font-weight: normal;

    border-top: 1px solid #eec643;
    border-bottom: 1px solid #eec643;
}



/*--------------------------CONTACTS-------------------------*/
.contacts__inner
{
    width: 90%;
    margin: 0 auto;
}

.contacts__row
{
    display: flex;

    height: 100%;
    margin-right: -15px;
    margin-bottom: 30px;
    margin-left: -15px;

    flex-wrap: wrap;
}

.contacts__col
{
    box-sizing: border-box;
    padding: 0 15px;
}

.contacts__title
{
    font-family: Prata, serif;
    font-size: 30px;
    font-weight: normal;

    border-top: 1px solid #eec643;
    border-bottom: 1px solid #eec643;
}

.contacts__text
{
    font-family: PT Sans, sans-serif;
    font-size: 16px;
}

.contacts__button
{
    font-family: PT Sans, serif;
    font-size: 16px;

    display: block;

    margin-top: 15px;
    padding: 25px 78px;

    text-align: center;
    text-transform: uppercase;

    color: white;
    background-color: #eec643;
}

.contacts__map
{
    min-width: 288px;
    min-height: 216px;
}

/*---------------------------FOOTER----------------------------*/
footer
{
    display: none;

    width: 288px;
    height: 216px;
}

@media (min-width: 500px) {
    .promo {
        height: 530px;

        background-image: url(../img/promo-header.jpg);
        background-position: top;
    }
    /*---------------------directions-------------------*/
    .directions {
        margin-top: 90px;
        margin-bottom: 90px;
    }
    /*---------------------advantages-------------------*/
    .advantages__col--6
{
        max-width: 50%;

        flex-basis: 50%;
    }

    .advantages__col--12
{
        max-width: 100%;

        flex-basis: 100%;
    }

    .advantages__article
{
        height: 100%;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    /*---------------------common----------------------*/

    /*------------------page-header--------------------*/
    .page-header {
        padding-top: 30px;
    }

    .page-header__nav {
        display: block;

        flex-grow: 1;
    }

    .main-nav {
        position: static;

        padding: 0;

        background-color: transparent;
    }

    .main-nav__list {
        display: flex;

        justify-content: flex-end;
    }

    .main-nav__item {
        margin-left: 10px;
    }

    .main-nav__link {
        padding: 10px;

        color: #000;
    }

    .burger {
        display: none;
    }
    /*----------------------promo----------------------*/
    .promo {
        min-height: 770px;
        padding-top: 204px;
        padding-bottom: 145px;
    }

    .promo__row {
        display: flex;
        margin-right: 15px;
        margin-left: 15px;

        justify-content: space-between;
        align-items: center;
    }

    .promo__title--desktop {
        font-size: 55px;
        line-height: 55px;

        display: block;

        max-width: 695px;
        margin-bottom: 0;
    }

    .promo__title--mobile {
        display: none;
    }

    .promo__slogan--desktop {
        font-size: 20px;
        line-height: 28px;

        display: block;

        max-width: 435px;
    }

    .promo__slogan--mobile {
        display: none;
    }

    .promo__button {
        display: none;
    }
    /*----------------------form----------------------*/

    .form
    {
        display: flex;
        flex-direction: column;

        justify-content: space-between;

        width: 265px;
        height: 420px;

        opacity: .85;
        color: #000;
        background-color: #fff;
    }

    .form--grey
{
        border: 2px solid #000;
    }

    .form--yellow
{
        border: 2px solid #eec643;
    }

    .form__title,
    .form__description{
        padding: 0 30px;
    }

    .form__title
{
        font-family: PT Sans, sans-serif;
        font-size: 30px;
        font-weight: bold;

        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form__description
{
        font-family: PT Sans, sans-serif;
        font-size: 20px;
        line-height: 28px;
        min-height: 90px;

        margin-top: -15px;
        margin-bottom: 0px;
        padding-right: 0px;
    }

    .form__control
{
        font-family: PT Sans, sans-serif;
        font-size: 20px;

        width: 209px;
        margin-left: 30px;

        border: none;
        background-color: transparent;
        color: #596063;
    }

    .form__control--grey
{
        border-bottom: 2px solid #000;
    }

    .form__control--yellow
{
        border-bottom: 2px solid #eec643;
    }

    .submit
{
        font-family: PT Sans, sans-serif;
        font-size: 20px;

        padding: 25px 0;
        margin-top: 50px;

        text-align: center;
        text-transform: uppercase;

        color: #fff;
        border: 0;   
    }

    .submit--grey {
        background-color: #001720;
    }

    .submit--yellow {
        background-color: #eec643;
    }
    /*----------------------directions----------------------*/
    .directions {
        position: relative;
    }

    .directions__article {
        min-height: 270px;
        margin-bottom: 30px;
    }

    .directions__title {
        font-family: Prata, serif;
        font-size: 50px;

        position: absolute;

        width: 568px;

        transform: rotate(-90deg);

        border-top: 2px solid #eec643;
        border-bottom: 2px solid #eec643;

        bottom: 274px;
        left: -295px;
    }

    .article__title {
        font-family: PT Sans, sans-serif;
        font-size: 30px;
        font-weight: bold;
        text-transform: none;
    }

    .article__text {
        font-family: PT Sans, sans-serif;
        font-size: 20px;
        line-height: 28px;
    }

    .article__price {
        font-family: PT Sans, sans-serif;
        font-size: 20px;
        font-weight: bold;
    }

    .directions__article--vocal {
        background-image: url(../img/directions_card_img_2.jpg);
        background-repeat: no-repeat;
    }

    .directions__article--guitar {
        background-image: url(../img/directions_card_img_1.jpg);
        background-repeat: no-repeat;
    }

    .directions__article--pianist {
        background-image: url(../img/directions_card_img_3.jpg);
        background-repeat: no-repeat;
    }

    .directions__article--lectures {
        display: block;
        background-image: url(../img/directions_card_img_4.jpg);
        background-repeat: no-repeat;
    }

    .directions__article--all {
        transform: rotate(0deg);

        color: #fff;
        background-color: #eec643;
        right: 40px;
        bottom: 0;
    }
    /*-----------------------advantages---------------------*/
    .advantages__title {
        font-size: 50px;
    }

    .advantages__article {
        min-height: 470px;
    }

    .advantages__article--structure {
        background-image: url(../img/advantages_card_img_1.jpg);
        background-repeat: no-repeat;
    }

    .advantages__article--result {
        background-image: url(../img/advantages_card_img_2.jpg);
        background-repeat: no-repeat;
    }

    .advantages__article--studio {
        background-image: url(../img/advantages_card_img_3.jpg);
        background-repeat: no-repeat;
    }

    .advantages__button {
        display: none;
    }
    /*----------------------contacts----------------------*/
    .contacts__button
{
        display: none;
    }

    .contacts__map
{
        max-width: 870px;
        max-height: 468px;
    }

    .contacts__form
{
        display: block;
    }

    /*----------------------footer----------------------*/
    footer
{
        display: block;
    }

    .footer__inner
{
        display: flex;

        width: 1170px;
        margin: 0 auto;
    }

    .footer__row
{
    }

    .footer__social-bar
{
    }

    .footer__social-link
{
        font-family: PT Sans, sans-serif;
        font-size: 12px;

        padding: 45px;

        text-decoration: none;
        text-transform: uppercase;

        color: #000;
    }

    .logo
{
        font-family: Prata, serif;
        font-size: 20px;

        padding-right: 15px;
        padding-left: 15px;

        text-decoration: none;
    }
}


.map
{
    width: 80%;
}
